body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  color: var(--text-color);
}

.avatar {
  width: 200px;
  height: 200px;
  margin: 2rem;
}

.text-container {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.name {
  font-size: 32px;
  margin: 0;
  
}

.title {
  font-size: 18px;
  
}

.social i {
  font-size: 20px;
  color: var(--text-color);
  margin: 0 0.5rem;
}

.social a {
  text-decoration: none;
}

/* Mobile styles */
@media only screen and (max-width: 768px) {
  body, html {
      flex-direction: column;
      justify-content: center;
      padding: 1rem;
  }

  .card-container {
      flex-direction: column;
      width: 100%;
      height: auto;
      margin: 2rem 0;
  }

  .avatar {
      width: 150px;
      height: 150px;
      margin: 1rem 0;
  }

  .text-container {
      margin: 1rem 0;
  }

  .name {
      font-size: 24px;
  }

  .title {
      font-size: 16px;
  }

  .social i {
      font-size: 18px;
  }
}
