.avatar {
  width: 200px;
  height: 200px;
  margin: 2rem;
}

.text-container {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.name {
  font-size: 32px;
  margin: 0;
  
}

.title {
  font-size: 18px;
  margin: 1.2rem;
}

.social{
  margin: 0.5rem;
  padding-top: 1.5rem;
}

.social a {
  font-size: 30px;
  color: var(--text-color);
  margin: 0 0.5rem;
  text-decoration: none;
}

/* Mobile styles */
@media only screen and (max-width: 768px) {
  .avatar {
      width: 150px;
      height: 150px;
      margin: 1rem 0;
  }

  .text-container {
      margin: 1rem 0;
  }

  .name {
      font-size: 24px;
  }

  .title {
      font-size: 16px;
  }


  .social a {
      font-size: 25px;
  }

}



