.avatar {
  width: 200px;
  height: 200px;
  margin: 2rem;
}

.text-container {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.name {
  font-size: 32px;
  margin: 0;
  
}

.title {
  font-size: 18px;
  
}
.social{
  margin: 2rem;
}

.social a {
  font-size: 30px;
  color: var(--text-color);
  margin: 0 0.5rem;
  text-decoration: none;
}

