.contact-box {
  flex: 1;
  padding: 20px;
  margin: 10px;
  text-align: center;
}

.header-container {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  padding: 3rem;
} 

.App-p p {
  font-size: 1.2rem;
  color: #666;
}

.Contact-form {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  max-width: 400px;
  padding: 20px;
}

.Contact-form label {
  margin-bottom: 5px;
  font-size: 1rem;
  color: var(--text-color);
}

.Contact-form input,
.Contact-form textarea {
  width: 95%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1rem;
}

.Contact-form input:focus,
.Contact-form textarea:focus {
  outline: none;
  border-color: #8ac926;
   box-shadow: 0 0 5px rgba(0, 75, 35, 0.5); 
}

textarea {
  resize: vertical;
  min-height: 100px;
}

button {
  padding: 10px 15px;
  background-color: var(--text-color);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #36312d;
}

