/* General styles */
body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  color: var(--text-color);
}

.card-container {
  display: flex;
  padding: 10px;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
}

.App-card {
  background-color: var(--background-color);
  width: 50rem;
  margin: 5rem;
  border-radius: 15px;
  box-shadow: 0px 4px 6px var(--shadow-color);
}

.App-form {
  display: contents;
  
}

/* Mobile styles */
@media only screen and (max-width: 768px) {
  body, html {
      flex-direction: column;
      justify-content: center;
      padding: 1rem;
  }

  .card-container {
      flex-direction: column;
      width: 100%;
      height: auto;
      margin: 2rem 0;
  }

  .avatar {
      width: 150px;
      height: 150px;
      margin: 1rem 0;
  }

  .text-container {
      margin: 1rem 0;
  }

  .name {
      font-size: 24px;
  }

  .title {
      font-size: 16px;
  }


  .social a {
      font-size: 25px;
  }

  .App-card {
    width: 100%;
  }
}





/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
