@import url('colors.css');

body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  color: var(--text-color);
}

.card-container {
  background-color: var(--background-color);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; /* Center both avatar and text container vertically */
  height: 70vh;
  width: 50rem;
  margin: 5rem;
  border-radius: 15px;
  box-shadow: 0px 4px 6px var(--shadow-color);
}

.avatar {
  width: 200px;
  height: 200px;
  margin: 2rem;
}

.text-container {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.name {
  font-size: 32px;
  margin: 0;
  
}

.title {
  font-size: 18px;
  
}

.social i {
  font-size: 20px;
  color: var(--text-color);
  margin: 0 0.5rem;
}

.social a {
  text-decoration: none;
}