body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
}

.card-container {
  background-color: #fffcf2;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; /* Center both avatar and text container vertically */
  height: 70vh;
  width: 50rem;
  margin: 5rem;
  border-radius: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}

.avatar {
  width: 200px;
  height: 200px;
  margin: 2rem;
}

.text-container {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.name {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
  color: #463f3a;
}

.title {
  font-size: 18px;
  color: #463f3a;
}

.social i {
  font-size: 20px;
  color: #463f3a;
}

.social a {
  text-decoration: none;
}